/*============================
RESET
=========================== */
/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*============================
BASE
=========================== */
/*============================
GENERAL
=========================== */
/*============================
CORE
=========================== */
/* ======================
MIXIN
====================== */
/*============================
LAYOUT
=========================== */
.l-header {
  background: #3E9597;
  position: relative;
  height: 400px;
  width: 100%; }
  .l-header .header-profile {
    width: 220px;
    height: 220px;
    position: absolute;
    margin: auto;
    bottom: 40px;
    left: 0;
    right: 0; }
    @media screen and (max-width: 480px) {
      .l-header .header-profile {
        height: 300px; } }
    .l-header .header-profile img {
      width: 200px;
      height: 200px;
      background-color: #3E9597;
      border-radius: 100%;
      border: 10px solid #FFF; }
    .l-header .header-profile p {
      color: #ffffff;
      font-family: arial;
      font-size: 25px;
      text-align: center;
      font-weight: bold; }

.l-navi .navi-list {
  background: #ABDBDC; }
  .l-navi .navi-list ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    font-size: 0; }
    .l-navi .navi-list ul li {
      display: inline-block; }
      @media screen and (max-width: 480px) {
        .l-navi .navi-list ul li {
          display: block;
          padding: 10px 0; } }
      .l-navi .navi-list ul li a {
        font-size: 16px;
        line-height: 20px;
        font-family: tahoma;
        font-weight: bold;
        color: #2C6869;
        text-decoration: none;
        text-transform: uppercase;
        padding: 6px 40px 10px;
        border-bottom: 4px solid transparent; }
        .l-navi .navi-list ul li a:hover {
          border-top: 4px solid #20494A; }
      .l-navi .navi-list ul li .active {
        border-top: 4px solid #20494A; }

.l-top-post {
  max-width: 960px;
  margin: 30px auto; }
  .l-top-post p {
    font-family: tahoma;
    line-height: 2; }

/*# sourceMappingURL=style.css.map */
